<table>
    <tr>
      <th>ID do Empréstimo</th>
      <th>Nome do aluno</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>RGM</th>
      <th>Livro emprestado</th>
    </tr>
    <tr *ngFor="let aluno of alunos">
      <td>{{ aluno.alunoId }}</td>
      <td>{{ aluno.nomeAluno }}</td>
      <td>{{ aluno.email }}</td>
      <td>{{ aluno.telefone}}</td>
      <td>{{ aluno.rgm }}</td>
      <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
      <button>Devolver Livro</button>
    </tr>
  </table>
