<mat-card class="container">
  <mat-card-header>
    <mat-card-title> Listar Livros </mat-card-title>

<table>
    <tr>
      <th>#</th>
      <th>Nome do livro</th>
      <th>Quantidade em estoque</th>
      <th>Autor</th>
      <th>Categoria do livro</th>
    </tr>
    <tr *ngFor="let livro of livros">
      <td>{{ livro.livroId }}</td>
      <td>{{ livro.nomeLivro }}</td>
      <td>{{ livro.quantidadeEstoque }}</td>
      <td>{{ livro.autor}}</td>
      <td>{{ livro.categoria?.nomeCategoria }}</td>
      
  <button (click)="remover(livro.livroId!)">Remover</button>
    </tr>
  </table>


</mat-card-header>
<mat-card-content> </mat-card-content>
</mat-card>